.navbar{
    height: 100px!important;
    background-color:#3AC1EE;
}

.navbar-brand{
    font-size: 40px;
    font-weight: normal;
    font-family: Inter;
    color: #FFFFFF;
    margin-left: 150px;
}

body{
    font-size: 16px;
    background-color: #DFF5FF;
    font-family: Inter;
}

.content-block{
    width: 700px;
    height: 525px;
    margin: 0 auto;
    margin-top: 75px;
    margin-left: 250px;
    font-size: 16px;
    font-color: #3F3F3F;
    font-family: Inter;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.tooltip-text {
    font-size: 12px;
    font-family: Inter, sans-serif;
    font-color: #3F3F3F;
    white-space: nowrap;
    background-color: #EFEFEF;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
    padding: 2px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

.hover-text {
  display: inline-block;
  margin: 2px;
  text-align: center;
}

.predict-button{
    width: 100px;
    height: 35px;
    margin-left: 209px;
    font-size: 16px;
    font-family: Inter;
    text-align: center;
    text-color: white;
    text-decoration: none;
    background-color: #3AC1EE;
    border-color: #3AC1EE;
    border-radius: 5px;
    padding: 2px 2px;
    display: inline-block;
    cursor: pointer;
}

.predict-button:hover{
    background-color: #1FB3E5;
    border-color: #1FB3E5;
}

.output-block{
    width:150px;
    height:35px;
    margin-left: 82px;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    display:inline-block;
    vertical-align: bottom;
    background-color:#DFF5FF;
    border-color:#81D6F0;
    border-radius:5px;
}

.home-button{
    font-size: 18px;
    background-color: #3AC1EE;
    border-color: #3AC1EE;
    padding: 10px 30px 10px 30px;
}

.home-button:hover{
    background-color: #1FB3E5;
    border-color: #1FB3E5;
}